.PersonCard {
  border-width: 5px;
  border-style: solid;
  border-radius: 20px;
  background-color: grey;
  
  display: block;
  width: 75px;
  height: 107.5px;
  transition: bottom 1s, left 1s, width 1s, height 1s, transform 1s;
}