.PersonCard {
  border-width: 3px;
  border-style: solid;
  border-radius: 20px; 
  display: block;
  width: 75px;
  margin: 5px;
  transition: all .8s;
}
.Available {
  cursor: pointer;
}
.Correct {
  border-color: green;
  transform: scaleX(1.3);
}
.Incorrect {
  cursor: not-allowed;
  transform: rotateX( 60deg );
  filter: grayscale(100%);
}

img { 
  height: auto;
   width: 100%;
   min-height: 92.5px;
   max-width: 100%;
   border-top-right-radius: 10px;
   border-top-left-radius: 10px;
}


.PersonCard-Name { 
  top: 50px; 
  width: 100%; 
}