.PersonCard {
  border-width: 3px;
  border-style: solid;
  border-radius: 20px; 
  display: block;
  width: 75px;
  margin: 5px;
  transition: bottom 1s, left 1s, width 1s, height 1s, transform 3s, border-color .5s
}
.Available {
  cursor: pointer;
}
.Correct {
  border-color: green;
}
.Incorrect {
  border-color: red;
  cursor: not-allowed;
  transform: rotateX( 60deg ) ;
}

img { 
  height: auto;
   width: 100%; 
   max-width: 100%;
   border-top-right-radius: 10px;
   border-top-left-radius: 10px;
}

.PersonCard-Name { 
   top: 50px; 
   width: 100%; 
}